@import url("https://fonts.googleapis.com/css?family=Chivo:400,700|Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Amiri:400,700&subset=arabic");
.toast-title {
  font-weight: bold;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/
}

#toast-container * {
  box-sizing: border-box;
}

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

#toast-container > div:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast {
  background-color: #030303;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

/* GENERAL CSS RULES */
.space {
  margin-top: 100px;
  margin-bottom: 70px;
}

.flip-horizontally {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH";
}

.playfair {
  font-family: "Playfair Display";
}

.chivo {
  font-family: "Chivo";
}

.amiri {
  font-family: "Amiri", serif;
}

.red {
  color: #EC161A;
}

.grey {
  color: #666666;
}

p {
  line-height: 2em;
  letter-spacing: 0.3px;
}

.gap-bottom {
  margin-bottom: 40px;
}

a {
  color: black;
  border-bottom: 3px #EC161A solid;
}

.card div.card-block {
  padding: 20px !important;
}

.ar-benefits .card-columns .card-block p {
  text-align: right;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  border-bottom: 3px black solid;
  color: black;
}

.caption {
  font-family: "Chivo";
  color: #bbbbbb;
  text-align: center;
  font-size: 0.9em;
  margin-top: 20px;
}

.hr {
  width: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: white;
}

.hr-black {
  width: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: black;
}

.hr-red {
  width: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #EC161A;
}

.text-gap-right {
  padding-right: 30px;
}

.text-gap-left {
  padding-left: 30px;
}

body {
  background: #faf9f7;
  overflow-x: hidden;
}

.visible {
  visibility: visible;
  opacity: 1;
}

/* NAVBAR RULES*/
#hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background: white;
}

#hamburger-menu a {
  border-bottom: none;
  top: 0 !important;
  position: absolute;
}

#hamburger-menu button {
  transition: background 0.2s ease-in;
}

.c-hamburger {
  /* display: block; */
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 19px;
  left: 12px;
  right: 12px;
  height: 2px;
  background: #EC161A;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EC161A;
  content: "";
}

.c-hamburger span::before {
  top: -6px;
}

.c-hamburger span::after {
  bottom: -6px;
}

.c-hamburger--htx {
  background-color: #fff;
}

.c-hamburger--htx span {
  transition: background 0s 0.2s;
  -webkit-transition: background 0s 0.2s;
  -moz-transition: background 0s 0.2s;
  -o-transition: background 0s 0.2s;
}

.c-hamburger--htx span.is-active {
  transition: background 0s 0.2s !important;
  -webkit-transition: background 0s 0.2s !important;
  -moz-transition: background 0s 0.2s !important;
  -o-transition: background 0s 0.2s !important;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.2s, 0s;
  transition-delay: 0.1s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

/* active state, i.e. menu open */
.show .c-hamburger--htx {
  background-color: white;
}

.show .c-hamburger--htx span {
  background: none;
}

.show .c-hamburger--htx span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.show .c-hamburger--htx span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.show .c-hamburger--htx span,
.show .c-hamburger--htx span::before,
.show .c-hamburger--htx span::after {
  transition-delay: 0s, 0.2s;
}

#hamburger-menu.show button {
  background: #EC161A !important;
}

#hamburger-menu.show .c-hamburger span::before,
#hamburger-menu.show .c-hamburger span::after {
  background: white;
}

nav {
  height: 100vh;
  width: 100vw;
  z-index: 1499;
  background: #EC161A;
  position: fixed;
  top: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
}

nav div.container, nav div.container div {
  height: 100%;
}

nav ul {
  list-style: none;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
  padding-left: 0;
}

nav ul li {
  color: white;
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  background: #EC161A;
}

nav ul a {
  border-bottom: none;
  color: white;
}

nav ul li:hover, nav ul li:active {
  /* background: white; */
  text-decoration: underline;
  color: white !important;
}

nav ul a:hover li {
  color: #ec161a;
}

nav ul a:hover {
  color: #ec161a;
  border-bottom: none;
}

/* PAGE RULES */
#landing {
  background: #faf9f7;
  height: 94vh;
  text-align: center;
}

#landing img.girl {
  height: 85vh;
  right: 0;
  position: absolute;
  bottom: 0px;
}

#landing img.girl-ar {
  height: 85vh;
  left: 0;
  position: absolute;
  bottom: 0px;
}

#landing img.logo {
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  z-index: 680;
}

a.language-link {
  border-width: 1.5px;
}

#landing h1 {
  color: #322f31;
  z-index: 700;
}

#part2 {
  background: #EC161A;
  padding: 90px 150px;
  text-align: center;
  color: white;
  z-index: 1105;
  width: 100%;
}

#part2 h4 {
  line-height: 1.5em;
  font-family: 'Chivo', sans-serif;
}

#part2 h6 {
  font-family: 'Playfair Display', serif;
}

#dead-sea {
  margin-top: 100px;
  width: 100%;
  box-shadow: 15px -15px #EEA086;
}

.card {
  padding: 10px 25px;
  border: none;
  border-radius: 0;
  background: #F1D2C6;
}

.card h5 {
  margin-bottom: 30px;
}

#minerals {
  margin-top: 100px;
  width: 100%;
  box-shadow: -15px -15px #EEA086;
}

.card-columns p {
  text-align: left;
  font-family: "Playfair Display";
  margin-bottom: 0;
  color: white;
}

.card-columns h5 {
  margin-bottom: 10px;
  color: white;
}

div.container-fluid.imgs {
  height: 0;
  overflow: visible;
}

/* #benefits-img {
	width: 300px;
	height: auto;
	position: relative;
	right: 0px;
	top: 0vh;
	z-index: -10;
}

#benefits-img2 {
	width: 300px;
	height: auto;
	position: relative;
	top: 90vh;
	z-index: -10;
} */
.benefits h5 {
  line-height: 1.7em;
}

.products .card {
  background: #faf9f7 !important;
}

.products h5 {
  margin-bottom: 0px !important;
}

.products p.caption {
  margin-bottom: 20px;
  margin-top: 5px !important;
}

.products p.caption.usage {
  margin-bottom: 10px;
  margin-top: 10px !important;
}

.product-item {
  margin-top: 70px;
  margin-bottom: 70px;
}

.product-item img {
  box-shadow: 15px -15px #EEA086;
  display: none;
}

.product-item .col-lg-6 {
  padding-left: 50px;
}

.product-item .col-lg-4 {
  padding-left: 150px;
}

.order {
  background: #eea086;
  padding-top: 150px;
  padding-bottom: 150px;
}

.form-control {
  background: #F0A083 !important;
  outline: none !important;
  border-radius: 0px !important;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  border-color: #666666;
  color: black;
}

.form-control:active, .form-control:focus {
  border-color: black !important;
}

button[type=submit] {
  background: white;
  margin-top: 30px;
  color: black;
  background-color: white;
  font-weight: 300;
  border: none;
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: .2s box-shadow;
}

button.styled-button {
  background-color: #EC161A;
  color: white;
  margin-top: 30px;
  font-weight: 300;
  border: none;
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  transition: .2s box-shadow;
}

button[type=submit]:hover, button.styled-button:hover {
  box-shadow: 7px 7px #F0A083;
}

button:focus {
  outline: none;
}

/* MEDIA QUERIES */
/* for above lg and up */
@media (min-width: 768px) {
  #top, #bottom, #left, #right {
    background: white;
    position: fixed;
    z-index: 1100;
  }
  #left, #right {
    top: 0;
    bottom: 0;
    width: 40px;
  }
  #left {
    left: 0;
  }
  #right {
    right: 0;
  }
  #top, #bottom {
    left: 0;
    right: 0;
    height: 40px;
  }
  #top {
    top: 0;
  }
  #bottom {
    bottom: 0;
  }
  body {
    padding: 40px;
  }
  .hide-on-lg {
    display: none;
  }
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  #dead-sea {
    margin-top: 200px;
  }
  #minerals {
    margin-top: 200px;
  }
}

/* for md and below */
@media (max-width: 767px) {
  #top, #bottom, #left, #right {
    display: none;
  }
  body {
    padding: 0;
  }
  #minerals {
    margin-top: 150px;
  }
  #part2 {
    padding: 90px 50px;
  }
  #landing img.girl-sm {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50vh;
  }
  #landing img.girl-sm-ar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50vh;
  }
  #landing img.logo {
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #landing h1 {
    font-family: 'Chivo', sans-serif;
    color: #322f31;
    z-index: 3;
  }
  .hide-on-sm {
    display: none;
  }
  #hamburger-menu button {
    background: none;
  }
  .space {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .mv div {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mv div h5 {
    margin-bottom: 20px;
  }
  .text-gap-left {
    padding-right: 20px;
    padding-left: 20px;
  }
  .text-gap-right, .mv p {
    padding-right: 20px;
    padding-left: 20px;
  }
  .card-columns .card {
    margin-bottom: 0;
  }
  .card-columns {
    all: unset;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .card-columns .card {
    width: 490px !important;
  }
}

/* MVV */
.mvv.header {
  height: 90vh;
  width: 100%;
}

.mvv.header img {
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.mvv.header h1 {
  font-size: 4em;
  margin-top: 100px;
}

.mvv.statements .mission, .mvv.statements .vision, .mvv.statements .values {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mvv.statements .row div {
  padding-left: 5vw;
  padding-right: 5vw;
}

.mvv p {
  font-size: 1.4em;
  line-height: 2em;
  color: black;
}

.mvv.styled-button:hover {
  box-shadow: 7px 7px white;
}

.mvv h2 {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .mvv.statements .row div {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

h2.amiri, h1.amiri, h3.amiri {
  font-weight: 700;
}

/*# sourceMappingURL=app.css.map */
